@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
  box-sizing: border-box;
}

body{
  background-color: #F5F7FB;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  overflow: hidden;
}

button{
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  background-color: #4D5B9E;
  border-radius: 10px;
  border: none;
  color:white;
}

/* <---------------- Starting Screen Component 
                                      --------------> */

.titleScreen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titleScreen h1{
  margin: 0;
  font-size: 2.5em;
}

.titleScreen p{
  font-size: 1.2em;
  width:25em;
  text-align: center;
  font-weight: 500;
}


/* <-------------Blobs that still need to be styling differently when
                 changing from starting screen to quiz screen 
                                                  ---------->*/

.backgroundEl-blue-small{
  background-image: url("./background-images/blob 5.png") ;
  background-repeat: no-repeat;
  width:200px;
  height:100px;
  position:absolute;
  bottom:0px;
  left:-20px;
  overflow: auto;
}

.backgroundEl-yellow-small{
  background-image: url("./background-images/blobs.png");
  background-repeat: no-repeat;
  overflow: auto;
  color:#FFFAD1;
  height:150px;
  width:200px;
  position:absolute;
  top:0px;
  right:-15px;
  overflow: auto;
}

.startBtn{
  height:52px;
  width:193px;
  margin-top:1.5em;
  font-size: 1em;
}

/* <--------------- Quiz Component 
                          -----------------> */

.quizContainer{
  display: flex;
  flex-direction: column;
  margin:5em;
  align-items: center;
}

.quizContainer footer{
  display: flex;
  margin: 1em auto;
  width: 80%;
  justify-content: center;
}

.quizContainer footer button{
  margin: 5px 35px;
}

/* <-------------- Question Component 
                            --------------------> */

.questionForm{
  margin-left: 3em;
  width:60%;
}

.answerContainer{
  margin-right:15px;
  border:1px solid blue;
  font-size: 1em;
  background-color: white;
  border:1px solid grey;
  width: auto;
  height:2.4em
}

.answersContainer{
  display: flex;
  text-align: center;
  width:100%;
  height:3em;
  flex-wrap: nowrap;
  justify-content:start;
}

.questionForm hr{
  margin-top:1em;
  width:100%;
  border: 1px solid #DBDEF0;
}

.answer-label{
  border:1px solid darkblue;
  margin: auto 10px;
  height:auto;
  border-radius: 10px;
  padding:0.3em 0.2em 0.4em 0.5em;
}

.answer-label input[type="radio"]{
  appearance: none;
}