@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
  box-sizing: border-box;
}

html{
  height:100%;
  width:100%;
  overflow: hidden;

}

body{
  margin:0;
  background-color: #F5F7FB;
  overflow: auto;
  height:100%;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  overflow: hidden;
}



.titleScreen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width:100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.titleScreen h1{
  margin: 0;
  font-size: 2.5em;
}

.titleScreen p{
  font-size: 1.2em;
  width:25em;
  text-align: center;
  font-weight: 500;
}

.backgroundEl-blue-small{
  background-image: url("./background-images/blob 5.png") ;
  background-repeat: no-repeat;
  width:200px;
  height:100px;
  position:absolute;
  bottom:0px;
  left:-20px;
  overflow: auto;
}

.backgroundEl-yellow-small{
  background-image: url("./background-images/blobs.png");
  background-repeat: no-repeat;
  overflow: auto;
  color:#FFFAD1;
  height:150px;
  width:200px;
  position:absolute;
  top:0px;
  right:-15px;
  overflow: auto;
}

.startBtn{
  background-color: #4D5B9E;
  color:white;
  height:52px;
  width:193px;
  border-radius: 15px;
  border: none;
  margin-top:1.5em;
  font-size: 1em;
}

button{
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

.quizContainer{
  display: flex;
  flex-direction: column;
  margin:5em;
  align-items: center;
}

.quizContainer footer{
  display: flex;
  margin: 1em auto;
  width: 80%;
  justify-content: center;
}

.quizContainer footer button{
  border-radius: 10px;
  border: none;
  background-color: #4D5B9E;
  color: white;
  margin: 5px 35px;
}

.questionForm{
  margin-left: 3em;
  width:60%;
  /* border: 1px solid red */
}

.answerContainer{
  margin-right:15px;
  border:1px solid blue;
  /* border-radius: 15px; */
  font-size: 1em;
  background-color: white;
  border:1px solid grey;
  width: auto;
  height:2.4em
}

.answersContainer{
  display: flex;
  text-align: center;
  width:100%;
  height:3em;
  flex-wrap: nowrap;
  justify-content:start;
}

.questionForm hr{
  margin-top:1em;
  width:100%;
  border: 1px solid #DBDEF0;
}

.answer{
  border:1px solid darkblue;
  /* margin:auto 0px auto 5px; */
  margin: auto 10px;
  height:auto;
  border-radius: 10px;
  padding:0.3em 0.2em 0.4em 0.5em;
  /* background-color:blue ; */
}

/* .answer input[type="radio"]{
  appearance: none;
} */